@import "reset.scss";

// html,
// body,
// #root {
//   height: 100%;
// }
// .height-100 {
//   height: 100%;
// }
.header {
  display: flex;
  justify-content: space-between;
}
.home-top {
  font-size: 2rem;
  text-align: center;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  button {
    width: 100px;
  }
}
.cards-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: antiquewhite;
  .ant-card {
    text-align: center;
    margin: 5px;
    width: 40%;
  }
}
.mission-div {
  text-align: center;
  p {
    width: 40%;
    font-size: 1.5rem;
    margin: 0 auto;
  }
  button {
    margin: 2px;
  }
}
.footer {
  text-align: center;
}
.row {
  width: 100%;
}
.forms {
  width: 50%;
  text-align: center;
  h1 {
    margin: 10px auto;
    font-size: 2rem;
  }
}
